.cart {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    animation: bounceCart 1.5s infinite;
    text-decoration: none;
}

@keyframes bounceCart {
    0% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(-0.2rem);
    }

    40% {
        transform: translateY(0);
    }

    60% {
        transform: translateY(-0.2rem);
    }

    1000% {
        transform: translateY(0);
    }
}